<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Node JS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<script type="text/javascript">
    let msg = '{{msg}}';
    let url = '{{url}}';

    if(msg != '') {
        alert(msg);
    }
/*
url이 비어 있지 않다면(url != ''), 주소로 이동하는데, url이 'history.back'이면 이전 페이지로 돌아가고, 
그렇지 않으면 location.href = url로 해당 주소로 이동하게 돼.
*/
    if(url != '') {
        if(url == 'history.back') {
            history.back();
        } else {
            location.href = url;
        }
    }
</script>
</body>
</html>